* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.layar-dalam {
  width: 1000px;
  margin: auto;
}

.layar-penuh {
  width: 100%;
}

nav {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: fixed;
  border-bottom: 1px solid #b1b1b1;
  line-height: 60px;
  width: 100%;
  transition: background-color 0.5s ease;
}

nav.putih {
  background-color: #fff;
}

nav .logo {
  float: left;
  position: relative;
  line-height: 55px;
  text-align: center;
}

nav .logo img {
  vertical-align: middle;
  width: 120px;
}

nav .menu {
  float: right;
  height: 60px;
  max-width: 600px;
}

nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav .menu ul li {
  list-style-type: none;
  float: left;
  line-height: 60px;
  font-weight: bold;
}

nav ul li a {
  color: #000;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

header {
  padding-top: 64px;
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
}

header .intro {
  z-index: 100;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  position: relative;
  top: 10%;
  display: flex;
}

header .intro .intro-kanan .kolaborasi{
  display: flex;
  margin:32px;
  justify-content: center;
}

header .intro .img-intro {
  width: auto;
  height: 300px;
  margin-right: 10%;
  border-radius: 8px;
}

header .intro .text-intro {
  width: 50%;
}

header .intro h3 {
  font-size: 60px;
  font-family: "Caveat Brush", cursive;
  color: #466B4C;
  margin-top: 48px;
  margin-bottom: 24px;
  padding: 0;
}

header .intro p {
  width: 80%;
  color: #888888;
}

.tombol {
  background-color: #466B4C;
  height: 50px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  align-content: center;
  padding: 0 20px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 32px;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top left, #B4C0B3, #F6F8F8);
  z-index: -1;
}

.tombol-menu {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  color: #000;
}

.tombol-menu .garis {
  height: 3px;
  background-color: #000;
}

section {
  padding: 50px 0;
}

section h3 {
  font-size: 30px;
}

section h3::after {
  content: "";
  border-bottom: 5px solid #466B4C;
  width: 52px;
  display: block;
  border-radius: 20%;
  margin: 20px auto;
}

#tentang-event,
#events {
  text-align: center;
  background-color: #F6F8F8;
}

.ringkasan-text {
  text-align: start;
  align-self: baseline;
  margin: 32px;
}

.ringkasan-text h2 {
  font-size: 24px;
}

section p.ringkasan {
  font-size: 18px;
  color: #333;
}

section .konten-isi p {
  font-style: normal;
}

nav.putih .tombol-menu .garis {
  background-color: #333;
}

nav.putih ul li a {
  color: #333;
}

nav .logo img.hitam {
  display: inline;
}

section.abuabu {
  background-color: #f5f6f6;
}

.event {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section p.ringkasan{
  text-align: left;
}

.event1 {
  background: linear-gradient(to top left, #A4B6AB, #F6F8F8);
  border-radius: 12px;
  padding: 16px;
}
.event2 {
  background: linear-gradient(to top left, #A4B6AB, #F6F8F8);
  border-radius: 12px;
  padding: 16px;
}


.btn_pesan {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background-color: #466B4C;
  color: #fff;
  border-radius: 8px;
  border: none;
}

.event h6 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}

.event p {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  font-size: 16px;
}

.event img {
  width: 100%;
  box-shadow: 0 -10px 30px #ccc;
  border-radius: 5px;
}

.event div {
  text-align: center;
  width: 26%;
}

section#gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  padding: 10px 0;
}

section#gallery div {
  padding: 10px;
}

section#gallery div img {
  height: 100px;
  border-radius: 5px;
}

section#gallery div img:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

section.quote {
  background: url("asset/background-bromo.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  padding: 100px;
}

section.quote .layar-dalam p {
  display: inline;
  background: url("asset/quote-icon.png") no-repeat;
  padding: 40px;
}

/* Tampilan Google Maps */
.map-container {
  width: 400px;
  height: 400px;
  border: 0;
  overflow: hidden;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

footer {
  padding: 50px 0;
  background-color: #343a40;
  color: #fff;
}

footer .layar-dalam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


footer .layar-dalam h5 {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

footer .layar-dalam .copyright {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #666;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
}

header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

header h2 {
  margin-top: 0;
  color: #333;
}

main {
  padding: 20px 0;
  background-color: #F6F8F8;
}

.payment-container {
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input, select, button {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}


.navbar-scrolled {
  background-color: white;
  transition: background-color 0.3s;
}


.navbar-scrolled .logo .hitam {
  display: inline;
}


.logo .hitam {
  display: inline;
}

.event-container {
  display: flex;
  align-items: center;
  position: relative;
}

.event {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  align-items: center;
}

.event1 {
  min-width: 300px;
  margin: 10px;
}
.event2 {
  align-content: center;
  min-width: 250px;
  height: auto;
  margin: 10px;
}

.pelaksanaan-acara {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  gap: 64px;
}

.location-img {
  width: 100%;
  height: auto;
  max-width: 300px;
  object-fit: cover;
  margin: 0 auto;
}

.details {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

.details .date,
.details .location,
.details .price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  text-align: left;
}

.details h6 {
  font-family: "Caveat Brush", cursive;
  font-size: 60px;
  margin: 32px;
}

.details p {
  margin: 5px 0;
  font-style: bold;
  font-size: 18px;
}

span.detail{
  font-size: 12px;
  color: #666;
}

.details .icon {
  margin-top: 16px;
  width: 40px;
  height: 40px;
  font-size: 32px;
}

.icon-date {
  background-image: url('asset/Kalender.png');
}

.icon-location {
  background-image: url('asset/location.png');
}

.location-link {
  color: blue;
  cursor: pointer;
}

/*Popup Pembayaran*/

.main-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #466B4C;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-btn:hover {
    background-color: #233627;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.popup-left, .popup-right {
    width: 45%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.payment-method {
    margin-bottom: 10px;
}

.payment-method label {
    margin-left: 5px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-btn:hover {
    background-color: #c82333;
}

/*Dropdown Payment*/

.dropdown-container {
  position: relative;
  width: 100;
}

.dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  background-size: 20px;
}

.dropdown option {
  padding: 10px;
}

.dropdown optgroup {
  font-weight: bold;
  padding: 5px 10px;
  background-color: #f0f0f0;
}

.dropdown-container::after {
  content: '▼';
  font-size: 12px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #777;
}

.detail-price{
  display: flex;
  justify-content: space-between;
}

/*Media Responsive View*/

@media screen and (max-width: 991.98px) {
  .layar-dalam {
    width: 90%;
  }

  header .intro {
    top: 10%;
    margin-top: 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  header .intro .intro-kanan {
    order: -1;
    margin-bottom: 32px;
  }

  header .intro .text-intro {
    width: 100%;
  }

  nav .menu ul {
    display: none;
    margin-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  nav .menu ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    line-height: 40px;
  }

  nav .menu ul li a {
    color: #333;
  }

  .tombol-menu {
    display: flex;
  }

  .event-container{
    display: block;
  }

  .support {
    display: block;
  }

  .support div {
    width: 100%;
    padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .ringkasan-text p{
    text-align: center;
  }
  input, select, button {
    width: 100%;
  }
  header .intro{
    align-items: center;
    text-align: center;
  }
  header .intro .img-intro {
    width: auto;
    height: 150px;
  }
  header .intro .intro-kanan .kolaborasi{
    margin:0px;
  }
  header .intro .intro-kanan .kolaborasi h4{
    font-size:12px;
  }
  header .intro .intro-kanan .kolaborasi img{
    width: 30px;
    height: auto;
  }
  header .intro p{
    width: 100%;
  }
  section p.ringkasan{
    text-align: center;
  }
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    display: block;
    justify-content: center;
    position: relative;
  }
  .popup-left, .popup-right {
    width: 100%;
  }

}

@media (min-width: 600px) {
  .pelaksanaan-acara {
    flex-wrap: nowrap;
  }
}
