body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .price-details {
    margin-bottom: 20px;
  }
  
  .price-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .price-item p {
    margin: 0;
    color: #333;
  }
  
  .payment-methods label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .payment-methods input[type="radio"] {
    margin-right: 10px;
  }
  
  .payment-methods img {
    width: 50px; /* Perbesar gambar */
    margin-right: 10px;
  }
  
  .tombol {
    background-color: #4e00ff;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }
  
  .tombol:hover {
    background-color: #3c00cc;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer p {
    margin-top: 10px;
    color: #777;
  }
  